@font-face{
 font-family:'digital-clock-font';
 src: url('digital-7.ttf');
}

#overlay {
  background-color: black;
}

#container {
  background-color: #F1C40F;
  height: 207px;
  width: 175px;
  padding: 5px;
}

#container,
.square,
.rise {
  border: 2px solid;
  border-left-color: #F9E79F;
  border-top-color: #F9E79F;
  border-right-color: #9A7D0A;
  border-bottom-color: #9A7D0A;
}

.display,
.body,
.sink {
  border: 2px solid;
  border-left-color: #9A7D0A;
  border-top-color: #9A7D0A;
  border-right-color: #F9E79F;
  border-bottom-color: #F9E79F;
}

.display,
.body {
  margin: 0 auto;
}

.square {
  height: 15px;
  width: 15px;
  display: inline-block;
  margin: 0;
  padding: 0;
  border-collapse: separate;
}

.row {
  display: block;
  line-height: 0;
}

.display {
  padding: 3px;
  width: 165px;
  height: 19px;
  display: inline-block;
  font-family: 'digital-clock-font';
  font-weight: bold;
  color: red;
}

.remainder,
.timer {
  height: 100%;
  background-color: black;
  vertical-align: text-bottom;
}

.remainder {
  float: left;
}

.timer {
  float: right;
}

.poop { 
  background-image: url("poop.png");
  background-size: 15px;
}