@keyframes halfCircle {
  from {
    transform: rotate(180deg) translateX(80px) rotate(90deg);
  }
  to { 
    transform: rotate(360deg) translateX(80px) rotate(90deg);
  }
}

@font-face {
  font-family:'digital-clock-font';
  src: url('fonts/Digital Dismay.otf');
}

@font-face {
  font-family: 'cat-paws';
  src: url('fonts/catty.ttf');
}


#overlay {
  background-color: black;
}

#container {
  background-color: #F1C40F;
  height: auto;
  width: 175px;
  padding: 5px;
}

#container,
.square,
.start,
.rise {
  border: 2px solid;
  border-left-color: #F9E79F;
  border-top-color: #F9E79F;
  border-right-color: #9A7D0A;
  border-bottom-color: #9A7D0A;
}

.display,
.board,
.sink {
  border: 2px solid;
  border-left-color: #9A7D0A;
  border-top-color: #9A7D0A;
  border-right-color: #F9E79F;
  border-bottom-color: #F9E79F;
}

.display,
.board {
  margin: 0 auto;
}

.square {
  height: 15px;
  width: 15px;
  display: inline-block;
  margin: 0;
  padding: 0;
  border-collapse: separate;
  text-align: center;
  vertical-align: bottom;
  line-height: 20px;
  text-indent: -999px;
}

.row {
  display: block;
  line-height: 0;
}

.display {
  margin-bottom: 5px;
  padding: 3px;
  width: 165px;
  height: 35px;
  display: inline-block;
  font-family: 'digital-clock-font';
  font-size: 35px;
  color: red;
}

.board {
  font-family: 'Baloo Bhaina', cursive;
}

.remainder,
.timer {
  display: inline-block;
  height: 75%;
  margin: auto 0;
  width: auto;
  background-color: black;
  line-height: 28px;
}

.start {
  /*background-color: white;*/
  display: inline-block;
  position: relative;
  left: 12%;
  width: 30px;
  height: 30px;
  background-image: url("images/cat.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}

.remainder {
  float: left;
}

.timer {
  float: right;
}

.mark { 
  background-image: url('images/cat.png');
  background-repeat: no-repeat;
  background-size: 15px;
  z-index: -999px;
}

.show {
  text-indent: 0;
}

.win {
  background-image: url('images/nyanDiet.gif');
  background-repeat: no-repeat;
  background-size: 30px;
  height: 30px;
  width: 30px;
  position: absolute;
  left: 12%;
  top: 60%;
  animation: halfCircle 4s linear infinite;
}