#overlay {
  background-color: black;
}

#container {
  background-color: brown;
  height: 207px;
  width: 175px;
  padding: 5px;
}

#container,
.square,
.rise {
  border: 2px solid;
  border-left-color: white;
  border-top-color: white;
  border-right-color: black;
  border-bottom-color: black;
}

.display,
.body,
.sink {
  border: 2px solid;
  border-left-color: black;
  border-top-color: black;
  border-right-color: white;
  border-bottom-color: white;
}

.display,
.body {
  margin: 0 auto;
}

.square {
  height: 15px;
  width: 15px;
  display: inline-block;
  margin: 0;
  padding: 0;
  border-collapse: separate;
}

.row {
  display: block;
  line-height: 0;
}

.display {
  padding: 3px;
  width: 165px;
  display: inline-block;
}

.remainder {
  float: left;
}

.timer {
  float: right;
}

.poop { 
  background-image: url("poop.png");
  background-size: 15px;
}